.container {
  display: flex;
  height: 100vh;
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  background-color: #151F2B;
  color: white;
  padding: 20px;
}

.centralContent {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px 0;
  background-color: #151F2B;
  color: white;
  border-left: 1px grey solid;
  border-right: 1px grey solid;
}

.rightContent {
  width: 20%;
  background-color: #151F2B;
  color: white;
  padding: 20px;
}

.userSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logoutButton {
  background-color: transparent;
  color: white;
  font-size: 15px;
  border-radius: 30px;
  padding: 5px 20px;
  cursor: pointer;
}

.tweetBox {
  display: flex;
  flex-direction: column;
  background-color: #151F2B;
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
}

.tweetInput {
  width: 100%;
  background: none;
  border-bottom-right-radius: gray 1px solid;
  color: white;
  resize: none;
  font-size: 16px;
  padding: 10px;
}
.tweetActions {
  text-align: right
}

.tweetButton {
  background-color: #1da1f2;
  border: none;
  font-size: 18px;
  color: white;
  margin: 10px;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
}

.tweetsList {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  overflow: auto;
}
